In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

df = pd.read_excel("datasets/dados_loja.xlsx")


df.head()

,Sexo,ano de nascimento,Qtd visitas,Gasto medio por visita,Distancia km entre lojas,Dependentes sexo feminino,Score bureau credito,Comprou Cartao,Receita adicional
0,feminino,2000.0,1,130.53,9.412385,0,973.187197,1,75.478136
1,feminino,2004.0,1,105.31,5.091567,1,994.005559,1,60.547963
2,feminino,1986.0,1,163.57,3.662726,2,981.276728,1,77.176839
3,feminino,2001.0,1,111.95,9.432318,0,955.959536,1,53.759389
4,feminino,1981.0,1,166.32,6.169851,2,984.265450,1,55.956204

In [78]:
df['Sexo'] = df.apply(lambda row: 1 if row['Sexo'] == 'feminino' else 0, axis=1)

In [79]:
df.shape

(1000, 9)

In [80]:
df.isnull().sum()

Sexo                           0
ano de nascimento            730
Qtd visitas                    0
Gasto medio por visita         0
Distancia km entre lojas     844
Dependentes sexo feminino      0
Score bureau credito           0
Comprou Cartao                 0
Receita adicional              0
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sexo                       1000 non-null   int64
 1   ano de nascimento          270 non-null    float64
 2   Qtd visitas                1000 non-null   int64
 3   Gasto medio por visita     1000 non-null   float64
 4   Distancia km entre lojas   156 non-null    float64
 5   Dependentes sexo feminino  1000 non-null   int64
 6   Score bureau credito       1000 non-null   float64
 7   Comprou Cartao             1000 non-null   int64
 8   Receita adicional          1000 non-null   float64
dtypes: float64(5), int64(4)
memory usage: 70.4 KB

In [82]:
df.corr()

,Sexo,ano de nascimento,Qtd visitas,Gasto medio por visita,Distancia km entre lojas,Dependentes sexo feminino,Score bureau credito,Comprou Cartao,Receita adicional
Sexo,1.000000,-0.017839,NaN,0.716166,0.095472,0.405747,0.863448,0.863688,0.365651
ano de nascimento,-0.017839,1.000000,NaN,-0.105470,0.049600,-0.094758,-0.139902,-0.144313,-0.147361
Qtd visitas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gasto medio por visita,0.716166,-0.105470,NaN,1.000000,0.018967,0.472782,0.784073,0.784642,0.302975
Distancia km entre lojas,0.095472,0.049600,NaN,0.018967,1.000000,-0.188289,0.144910,NaN,0.339490
Dependentes sexo feminino,0.405747,-0.094758,NaN,0.472782,-0.188289,1.000000,0.594693,0.597493,0.168665
Score bureau credito,0.863448,-0.139902,NaN,0.784073,0.144910,0.594693,1.000000,0.999505,0.402169
Comprou Cartao,0.863688,-0.144313,NaN,0.784642,NaN,0.597493,0.999505,1.000000,0.401386
Receita adicional,0.365651,-0.147361,NaN,0.302975,0.339490,0.168665,0.402169,0.401386,1.000000

In [83]:
# Removendo linhas com valores ausentes
# df = df.dropna(how='any')

# Selecionando as colunas de interesse
df1 = df[['Sexo', 'Qtd visitas', 'Gasto medio por visita']]

# Dividindo os dados em conjuntos de treino e teste
x_train, x_test, y_train, y_test = train_test_split(df1[['Sexo', 'Qtd visitas']], df1['Gasto medio por visita'], test_size=0.2, random_state=42)

# Poisson
model_poisson = linear_model.PoissonRegressor()
model_poisson.fit(x_train, y_train)
score_poisson_train = model_poisson.score(x_train, y_train)
score_poisson_test = model_poisson.score(x_test, y_test)

# Regressão linear
model_linear = linear_model.LinearRegression()
model_linear.fit(x_train, y_train)
score_linear_train = model_linear.score(x_train, y_train)
score_linear_test = model_linear.score(x_test, y_test)

# Regressão Polinomial
poly_features = PolynomialFeatures(degree=2)
x_poly_train = poly_features.fit_transform(x_train)
x_poly_test = poly_features.transform(x_test)
model_poly = linear_model.LinearRegression()
model_poly.fit(x_poly_train, y_train)
score_poly_train = model_poly.score(x_poly_train, y_train)
score_poly_test = model_poly.score(x_poly_test, y_test)

print("R-quadrado de Poisson:", score_poisson_train, "R-quadrado de Teste:", score_poisson_test)
print("R-quadrado da Regressão Linear:", score_linear_train, "R-quadrado de Teste:", score_linear_test)
print("R-quadrado da Regressão Polinomial:", score_poly_train, "R-quadrado de Teste:", score_poly_test)

R-quadrado de Poisson: 0.42479269301925215 R-quadrado de Teste: 0.19574770280483378
R-quadrado da Regressão Linear: 0.5654248982693336 R-quadrado de Teste: 0.26280490401459033
R-quadrado da Regressão Polinomial: 0.5653496814221322 R-quadrado de Teste: 0.26489238805358273

In [84]:
# Removendo linhas com valores ausentes
df = df.dropna(how='any')

# Selecionando as colunas de interesse
df1 = df[['Sexo', 'Qtd visitas', 'Receita adicional', 'Score bureau credito', 'Distancia km entre lojas', 'ano de nascimento',
          'Gasto medio por visita', 'Dependentes sexo feminino', 'Comprou Cartao']]

X = df1[['Sexo', 'Qtd visitas', 'Score bureau credito', 'Distancia km entre lojas', 'ano de nascimento',
          'Gasto medio por visita', 'Dependentes sexo feminino', 'Comprou Cartao']]

Y = df1['Receita adicional']

# Dividindo os dados em conjuntos de treino e teste
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Poisson
model_poisson = linear_model.PoissonRegressor()
model_poisson.fit(x_train, y_train)
score_poisson_train = model_poisson.score(x_train, y_train)
score_poisson_test = model_poisson.score(x_test, y_test)

# Regressão linear
model_linear = linear_model.LinearRegression()
model_linear.fit(x_train, y_train)
score_linear_train = model_linear.score(x_train, y_train)
score_linear_test = model_linear.score(x_test, y_test)

# Regressão Polinomial
poly_features = PolynomialFeatures(degree=2)
x_poly_train = poly_features.fit_transform(x_train)
x_poly_test = poly_features.transform(x_test)
model_poly = linear_model.LinearRegression()
model_poly.fit(x_poly_train, y_train)
score_poly_train = model_poly.score(x_poly_train, y_train)
score_poly_test = model_poly.score(x_poly_test, y_test)

print("R-quadrado de Poisson:", score_poisson_train, "R-quadrado de Teste:", score_poisson_test)
print("R-quadrado da Regressão Linear:", score_linear_train, "R-quadrado de Teste:", score_linear_test)
print("R-quadrado da Regressão Polinomial:", score_poly_train, "R-quadrado de Teste:", score_poly_test)

R-quadrado de Poisson: 0.36226893844505015 R-quadrado de Teste: 0.23403546498216088
R-quadrado da Regressão Linear: 0.35333545114352005 R-quadrado de Teste: 0.2352514660322268
R-quadrado da Regressão Polinomial: 0.47899637648173654 R-quadrado de Teste: 0.34201240866462623