In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import PolynomialFeatures
import scipy.stats as stats

file = 'datasets/atletas.csv'
df = pd.read_csv(file)
print(df)

            Atleta  Altura   Peso    Sexo  Ano de nascimento  tempo  _tempo
0          Adriano   190.0  120.0   homem             1987.0     22      25
1        Alexandre   170.0   62.0   homem                NaN     15      12
2          Antonio   180.0   78.0   homem             2002.0     16      15
3           Arthur   164.0   66.0   homem                NaN     14      17
4     Arthur Costa   173.0   76.0   homem             2005.0     24      16
5           Caique   180.0   60.0   homem             2002.0     11      14
6         Caroline   180.0   65.0  mulher             1997.0     20      16
7            Diogo   195.0   85.0   homem             1996.0     10      20
8          Eduardo   180.0   75.0   homem                NaN     16      19
9          Fabiano   174.0   94.0   homem             2002.0     10      23
10  Giovanna Pires   166.0   55.0  mulher             2002.0     12      14
11       Jaqueline   170.0   77.0  mulher             1986.0     19      19
12            John   180.0   87.0   homem             2001.0     20      21
13           Julia   162.0   59.0  mulher                NaN     14      13
14           Karen   160.0   75.0  mulher             1979.0     25      23
15  Lucas Loureiro   176.0   90.0   homem                NaN     25      10
16         Matheus   173.0   72.0   homem             2006.0     18      14
17         Nicolas   180.0   85.0   homem             2004.0     22      18
18           Pedro   180.0   80.0   homem             2005.0     12      18
19           Sofia   158.0   54.0  mulher             2005.0     17      13
20          Thomaz   175.0   65.0   homem                NaN     14      13
21         Jana√≠na     NaN    NaN  mulher             1997.0     16      14
22  Giovana Cintra     NaN    NaN  mulher             2006.0     12      15
23   Lucas Arantes     NaN    NaN   homem             2004.0     20      15

In [14]:
df1 = df
df1['dummy_gender'] = df.apply(lambda row: 1 if row['Sexo'] == 'homem' else 0, axis=1)
df_filtered = df1.query('Altura.notnull() and Peso.notnull() and `Ano de nascimento`.notnull()')
df_filtered

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,_tempo,dummy_gender
0,Adriano,190.0,120.0,homem,1987.0,22,25,1
2,Antonio,180.0,78.0,homem,2002.0,16,15,1
4,Arthur Costa,173.0,76.0,homem,2005.0,24,16,1
5,Caique,180.0,60.0,homem,2002.0,11,14,1
6,Caroline,180.0,65.0,mulher,1997.0,20,16,0
7,Diogo,195.0,85.0,homem,1996.0,10,20,1
9,Fabiano,174.0,94.0,homem,2002.0,10,23,1
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,14,0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,19,0
12,John,180.0,87.0,homem,2001.0,20,21,1
14,Karen,160.0,75.0,mulher,1979.0,25,23,0
16,Matheus,173.0,72.0,homem,2006.0,18,14,1
17,Nicolas,180.0,85.0,homem,2004.0,22,18,1
18,Pedro,180.0,80.0,homem,2005.0,12,18,1
19,Sofia,158.0,54.0,mulher,2005.0,17,13,0

In [15]:
x = df_filtered[['dummy_gender', 'Ano de nascimento', 'Peso', 'Altura']]
y = df_filtered['tempo'].to_numpy()
model = LinearRegression()
model.fit(x, y)
score = model.score(x, y)
print(score)

0.28165797485702493

In [16]:
# Vou come√ßar a reconstruir o ano de nascimento
# Vou utilizar como vari√°veis regressoras o peso, altura e sexo

df_filtered = df1[ (df1['Peso'].notnull()) & (df1['Altura'].notnull()) & (df1['Ano de nascimento'].notnull()) ]
x = df_filtered[['dummy_gender', 'Altura', 'Peso']].to_numpy()
y = df_filtered['Ano de nascimento'].to_numpy()
model_ano = LinearRegression()
model_ano.fit(x, y)
score = model_ano.score(x, y)
score

0.6446571873527764

In [17]:
# minha fun√ß√£o criada para completar o ano de cada linha
def completar_ano(linha):
  # verifica se o ano de nascimento N√ÉO est√° definido e se Peso e Altura est√£o
  # S√≥ calcula o ano de nascimento se o n√£o existir ano de nascimento
  # S√≥ calcula o ano de nascimento se tiver Peso e Altura para fornecer para o modelo
  if pd.isna(linha['Ano de nascimento']) and not pd.isna(linha['Peso']) and not pd.isna(linha['Altura']):
    # Separa as vari√°veis regressoras utilizadas no modelo
    campos = linha[['dummy_gender','Altura','Peso']]
    # Retorna para o "apply" o valor previsto
    return round(model_ano.predict([campos])[0])
  # Se j√° tem o ano de nascimento, devolve o valor que tem
  return linha['Ano de nascimento']

# apply: executar a fun√ß√£o chamada 1x para cada linha
df1['ano_calculado'] = df1.apply(completar_ano, axis=1)
df1

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,_tempo,dummy_gender,ano_calculado
0,Adriano,190.0,120.0,homem,1987.0,22,25,1,1987.0
1,Alexandre,170.0,62.0,homem,NaN,15,12,1,2010.0
2,Antonio,180.0,78.0,homem,2002.0,16,15,1,2002.0
3,Arthur,164.0,66.0,homem,NaN,14,17,1,2009.0
4,Arthur Costa,173.0,76.0,homem,2005.0,24,16,1,2005.0
5,Caique,180.0,60.0,homem,2002.0,11,14,1,2002.0
6,Caroline,180.0,65.0,mulher,1997.0,20,16,0,1997.0
7,Diogo,195.0,85.0,homem,1996.0,10,20,1,1996.0
8,Eduardo,180.0,75.0,homem,NaN,16,19,1,2004.0
9,Fabiano,174.0,94.0,homem,2002.0,10,23,1,2002.0
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,14,0,2002.0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,19,0,1986.0
12,John,180.0,87.0,homem,2001.0,20,21,1,2001.0
13,Julia,162.0,59.0,mulher,NaN,14,13,0,1997.0
14,Karen,160.0,75.0,mulher,1979.0,25,23,0,1979.0
15,Lucas Loureiro,176.0,90.0,homem,NaN,25,10,1,1999.0
16,Matheus,173.0,72.0,homem,2006.0,18,14,1,2006.0
17,Nicolas,180.0,85.0,homem,2004.0,22,18,1,2004.0
18,Pedro,180.0,80.0,homem,2005.0,12,18,1,2005.0
19,Sofia,158.0,54.0,mulher,2005.0,17,13,0,2005.0
20,Thomaz,175.0,65.0,homem,NaN,14,13,1,2009.0
21,Jana√≠na,NaN,NaN,mulher,1997.0,16,14,0,1997.0
22,Giovana Cintra,NaN,NaN,mulher,2006.0,12,15,0,2006.0
23,Lucas Arantes,NaN,NaN,homem,2004.0,20,15,1,2004.0

In [18]:
df_filtered = df1[ (df1['Peso'].notnull()) & (df1['Altura'].notnull()) & (df1['ano_calculado'].notnull()) ]
x = df_filtered[['dummy_gender', 'ano_calculado']].to_numpy()
y = df_filtered['Peso'].to_numpy()
model_peso = LinearRegression()
model_peso.fit(x, y)
score = model_peso.score(x, y)
score
# gerei modelo de previs√£o para o peso utilizando como vari√°veis regressoras o sexo e o ano de nascimento calculado

0.7191879283286167

In [19]:
df_filtered = df1[ (df1['Peso'].notnull()) & (df1['Altura'].notnull()) & (df1['ano_calculado'].notnull()) ]
x = df_filtered[['dummy_gender', 'ano_calculado']].to_numpy()
y = df_filtered['Altura'].to_numpy()
model_altura = LinearRegression()
model_altura.fit(x, y)
score = model_altura.score(x, y)
score
# gerei modelo de previs√£o para o peso utilizando como vari√°veis regressoras o sexo e o ano de nascimento calculado

0.4936899707102512

In [20]:
# minha fun√ß√£o criada para completar o peso de cada linha
def completar_peso(linha):
  if pd.isna(linha['Peso']) and not pd.isna(linha['ano_calculado']):
    campos = linha[['dummy_gender','ano_calculado']]
    return round(model_peso.predict([campos])[0])
  return linha['Peso']

# apply: executar a fun√ß√£o chamada 1x para cada linha
df1['peso_calculado'] = df1.apply(completar_peso, axis=1)
df1

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,_tempo,dummy_gender,ano_calculado,peso_calculado
0,Adriano,190.0,120.0,homem,1987.0,22,25,1,1987.0,120.0
1,Alexandre,170.0,62.0,homem,NaN,15,12,1,2010.0,62.0
2,Antonio,180.0,78.0,homem,2002.0,16,15,1,2002.0,78.0
3,Arthur,164.0,66.0,homem,NaN,14,17,1,2009.0,66.0
4,Arthur Costa,173.0,76.0,homem,2005.0,24,16,1,2005.0,76.0
5,Caique,180.0,60.0,homem,2002.0,11,14,1,2002.0,60.0
6,Caroline,180.0,65.0,mulher,1997.0,20,16,0,1997.0,65.0
7,Diogo,195.0,85.0,homem,1996.0,10,20,1,1996.0,85.0
8,Eduardo,180.0,75.0,homem,NaN,16,19,1,2004.0,75.0
9,Fabiano,174.0,94.0,homem,2002.0,10,23,1,2002.0,94.0
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,14,0,2002.0,55.0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,19,0,1986.0,77.0
12,John,180.0,87.0,homem,2001.0,20,21,1,2001.0,87.0
13,Julia,162.0,59.0,mulher,NaN,14,13,0,1997.0,59.0
14,Karen,160.0,75.0,mulher,1979.0,25,23,0,1979.0,75.0
15,Lucas Loureiro,176.0,90.0,homem,NaN,25,10,1,1999.0,90.0
16,Matheus,173.0,72.0,homem,2006.0,18,14,1,2006.0,72.0
17,Nicolas,180.0,85.0,homem,2004.0,22,18,1,2004.0,85.0
18,Pedro,180.0,80.0,homem,2005.0,12,18,1,2005.0,80.0
19,Sofia,158.0,54.0,mulher,2005.0,17,13,0,2005.0,54.0
20,Thomaz,175.0,65.0,homem,NaN,14,13,1,2009.0,65.0
21,Jana√≠na,NaN,NaN,mulher,1997.0,16,14,0,1997.0,60.0
22,Giovana Cintra,NaN,NaN,mulher,2006.0,12,15,0,2006.0,46.0
23,Lucas Arantes,NaN,NaN,homem,2004.0,20,15,1,2004.0,78.0

In [21]:
# minha fun√ß√£o criada para completar o peso de cada linha
def completar_altura(linha):
  if pd.isna(linha['Altura']) and not pd.isna(linha['ano_calculado']):
    campos = linha[['dummy_gender','ano_calculado']]
    return round(model_altura.predict([campos])[0])
  return linha['Altura']

# apply: executar a fun√ß√£o chamada 1x para cada linha
df1['altura_calculada'] = df1.apply(completar_altura, axis=1)
df1

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,_tempo,dummy_gender,ano_calculado,peso_calculado,altura_calculada
0,Adriano,190.0,120.0,homem,1987.0,22,25,1,1987.0,120.0,190.0
1,Alexandre,170.0,62.0,homem,NaN,15,12,1,2010.0,62.0,170.0
2,Antonio,180.0,78.0,homem,2002.0,16,15,1,2002.0,78.0,180.0
3,Arthur,164.0,66.0,homem,NaN,14,17,1,2009.0,66.0,164.0
4,Arthur Costa,173.0,76.0,homem,2005.0,24,16,1,2005.0,76.0,173.0
5,Caique,180.0,60.0,homem,2002.0,11,14,1,2002.0,60.0,180.0
6,Caroline,180.0,65.0,mulher,1997.0,20,16,0,1997.0,65.0,180.0
7,Diogo,195.0,85.0,homem,1996.0,10,20,1,1996.0,85.0,195.0
8,Eduardo,180.0,75.0,homem,NaN,16,19,1,2004.0,75.0,180.0
9,Fabiano,174.0,94.0,homem,2002.0,10,23,1,2002.0,94.0,174.0
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,14,0,2002.0,55.0,166.0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,19,0,1986.0,77.0,170.0
12,John,180.0,87.0,homem,2001.0,20,21,1,2001.0,87.0,180.0
13,Julia,162.0,59.0,mulher,NaN,14,13,0,1997.0,59.0,162.0
14,Karen,160.0,75.0,mulher,1979.0,25,23,0,1979.0,75.0,160.0
15,Lucas Loureiro,176.0,90.0,homem,NaN,25,10,1,1999.0,90.0,176.0
16,Matheus,173.0,72.0,homem,2006.0,18,14,1,2006.0,72.0,173.0
17,Nicolas,180.0,85.0,homem,2004.0,22,18,1,2004.0,85.0,180.0
18,Pedro,180.0,80.0,homem,2005.0,12,18,1,2005.0,80.0,180.0
19,Sofia,158.0,54.0,mulher,2005.0,17,13,0,2005.0,54.0,158.0
20,Thomaz,175.0,65.0,homem,NaN,14,13,1,2009.0,65.0,175.0
21,Jana√≠na,NaN,NaN,mulher,1997.0,16,14,0,1997.0,60.0,165.0
22,Giovana Cintra,NaN,NaN,mulher,2006.0,12,15,0,2006.0,46.0,160.0
23,Lucas Arantes,NaN,NaN,homem,2004.0,20,15,1,2004.0,78.0,177.0

In [22]:
# Recalculo a minha regress√£o original utilizando as vari√°veis novas
x = df1[['dummy_gender', 'ano_calculado', 'peso_calculado', 'altura_calculada']]
y = df1['tempo'].to_numpy()
model = LinearRegression()
model.fit(x, y)
score = model.score(x, y)
print(score)

0.3110657932399812